public-hoist-pattern[]=commander
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=inquirer
public-hoist-pattern[]=tsx
public-hoist-pattern[]=react-dom
# .npmrc (repo or app)
link-workspace-packages=false
